<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    
    <appender name="StructuredLoggingAppender" type="StructuredLogging.Client.Log4Net.StructuredLoggingAppender, StructuredLogging.Client.Log4Net" >
      <bufferSize value="1" />
      <serverUrl value="http://localhost:34903" />
    </appender>
    
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="StructuredLoggingAppender" />
    </root>
  </log4net>
</configuration>